.selectBox-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox-select {
  width: 55%;
  height: 80%;
  font-size: 1.2rem;
  font-weight: bold;
  border-color: #b98474;
}

